<div class="container">
  <h1>GET YOUR INTERNET CONNECTION HERE...</h1>
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 tab">
    <div class="col-md-12 col-sm-12 col-xs-12 ted" align="center">
      <h2>WELCOME TO MAST .NET</h2>
      <p>Enjoy affordable internet connection near your location (Gitaru). Pay less for more.</p>
      <!-- <video width="120" style="border-radius: 20px;" autoplay loop>
        <source src="../assets/69.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video> -->
      <p>Connections vary from:</p>
      <ul>
        <li>3Mbps @ 2,000ksh</li>
        <li>5Mbps @ 3,000ksh</li>
        <li>8Mbps @ 4,500ksh</li>
      </ul>
      <p>Contact us at 0798375876</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 tod">
    <div class="col-md-12 col-sm-12 col-xs-12 ted">
      <iframe 
        src="https://www.google.com/maps/d/embed?mid=1fKQyj0mUsj6-NRo5EoC1w834VwStViA&ehbc=2E312F" 
        width="100%" 
        height="480">
      </iframe>
    </div>
  </div>
</div>